* {
    padding: 0;
    margin: 0;
}
main {
    height: 100vh;
    width: 100vw;
    background-image: url("../images/coding.jpg");
}
.redirect {
    width: 30vw;
    height: min-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
    justify-content: space-between;
    box-shadow: 3px -3px 3px 3px;
}
.endpoint {
    width: 30vw;
    height: 40vh;
    background-size: 30vw;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
}
.redirect:hover {
    cursor: pointer;   
}
#comida, #progress, #github {
    display: flex;
    justify-content: center;
}
#github {
    background-color: black;
    align-content: center;
}
.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}
h3 {
    color: white;
}
.title {   
    margin: 10px 0px;
}
.description {
    margin: 10px;
    text-align: justify;
}
.content-text {
    color: white;
}